#settings {
	transition: transform .2s ease-in;
	width: 100vw;
	height: 100vh;
	background: #171717ad;
	backdrop-filter: blur(4px);
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-top: 20px;
}

.form-control {
	user-select: none;
}

.form-control.l {
	display: flex;
	flex-direction: column;
	text-align: center;
}

label {
	margin-bottom: 5px;
}

.form-control.m {
	margin-bottom: 10px;
}

.titlebar-button.back {
	right: 2px;
	transition: transform .1s linear;
}

.titlebar-button.back:hover {
	transform: translateX(-1px);
}

input[type="text"] {
	background: #1d1d1d;
	border: 1px solid rgba(255, 255, 255, 0.5);
	outline: none;
	color: white;
	padding: 5px;
	border-radius: 5px;
}
input[type="text"]:focus {
	border-color: white;
}

input[type="checkbox"] {
	margin-right: 8px;
}

.fader-holder {
	width: 60px;
	height: 80px;
}

.fader {
	overflow: hidden;
	width: 80px;
	height: 20px;
	-webkit-appearance: none;
	background-color: #222;
	transform: rotate(-90deg) translate(-20px);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 4px;
}

.fader:focus {
	outline: none;
}

.fader::-webkit-slider-runnable-track {
	height: 10px;
	margin-top: -1px;
}

.fader:after {
	content: '';
	background: rgb(89, 235, 59);
	position: absolute;
	left: 0;
	bottom: 0;
	width: var(--audio-level);
	height: 100%;
	z-index: -1;
}

.fader::-webkit-slider-thumb {
	width: 0px;
	height: 20px;
	-webkit-appearance: none;
	box-shadow: -2px -1px 0 4px #777;
}

select {
	background: #1d1d1d;
	border: 1px solid rgba(255, 255, 255, 0.5);
	outline: none;
	color: white;
	padding: 5px;
	border-radius: 5px;
	max-width: 240px;
}

.settings-scroll {
	overflow-y: auto;
	height: calc(100vh - 20px);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-right: 5px;
}